body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(174, 166, 241);
   
}

.center-aligned {
    text-align: center;

}

h1 {
    font-size: 80px;
    color: rgb(240, 111, 138);
}

p, ul, ol {
    font-size: 18px;
}

ul {
    background-color: aquamarine;
}

.ul-top {
    display: inline;
    margin: 100px;
}

ol {
    background-color: rgb(87, 87, 236);
}

img{
    width: 400px;
    height: auto;
}